
*.xlsx
*.docx
Module 2 Challenge/Module 2 Challange -screenshot-2019.png
Module 2 Challenge/Module 2 Challange -.txt
Module 2 Challenge/Module 2 Challange -screenshot-2018.png
Module 2 Challenge/Module 2 Challange -screenshot-2020.png
Module 3 Challenge/PyBank/PyBank.py
Module 3 Challenge/PyBank/PyBank_output.txt
Module 3 Challenge/PyBank/Resources/budget_data.csv
Module 3 Challenge/PyPoll/PyPoll.py
Module 3 Challenge/PyPoll/Resources/election_data.csv
Module 3 Challenge/PyPoll/Results.txt
